<div class="mat-app-background component-main">
  <mat-toolbar color="primary">
    <span>Product Catalogue</span>
    <mat-form-field subscriptSizing="dynamic">
      <span matPrefix><mat-icon>search</mat-icon></span>
      <input matInput type="text" [(ngModel)]="filter" placeholder="I'm looking for..." />
      @if (filter) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="filter = ''">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
  </mat-toolbar>

  <mat-card *ngFor="let product of relevantProducts" class="product-card">
    <mat-card-content class="product-content">
      <div class="thumbnail-container">
        <div mat-card-avatar class="product-image">
          <img mat-card-image src="#" alt="{{ product.name }}" />
        </div>
      </div>
      <div class="info-container">
        <div class="title-container">
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle>{{ category }}</mat-card-subtitle>
        </div>
        <mat-card-actions>
          <p>Price: {{ product.price | currency : 'USD' : 'symbol' : '1.2-2' }}</p>
          <button mat-button color="primary">Add to Cart</button>
        </mat-card-actions>
      </div>
    </mat-card-content>
  </mat-card>
</div>
