<div class="mat-app-background component-main">
  <mat-toolbar color="primary">
    <span>Product Catalogue</span>
    <!-- Input for the filtering -->
    <mat-form-field subscriptSizing="dynamic">
      <span matPrefix><mat-icon>search</mat-icon></span>
      <input matInput type="text" [(ngModel)]="filter" placeholder="I'm looking for..." />
      <!-- Clear button only shows when there is text present -->
      @if (filter) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="filter = ''">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
  </mat-toolbar>

  <!-- ngFor directive to create a card for each product retrieved from the data service -->
  <!-- mouseover and mouseleave events to control hovering state of each card for detail view -->
  <mat-card
    *ngFor="let product of relevantProducts"
    class="product-card"
    (mouseover)="hover[product.category + product.id] = true"
    (mouseleave)="hover[product.category + product.id] = false"
  >
    <!-- Detailed view component shows only when hover is true for that item, named with category and ID -->
    <mat-card-content class="product-content">
      <div
        class="overlay-details"
        *ngIf="hover[product.category + product.id]"
        aria-label="Larger picture view of product"
      >
        <!-- Pass input to child component with data binding directive -->
        <app-product-details [product]="product"></app-product-details>
      </div>
      <div class="thumbnail-container">
        <div mat-card-avatar class="product-image">
          <img mat-card-image src="{{ product.image }}" alt="{{ product.name }}" />
        </div>
      </div>
      <div class="info-container">
        <div class="title-container">
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle>{{ product.category | titlecase }}</mat-card-subtitle>
        </div>
        <!-- Small action panel to show the formatted price and allow it to be added to cart -->
        <mat-card-actions>
          <p>Price: {{ product.price | currency : 'USD' : 'symbol' : '1.2-2' }}</p>
          <button mat-button color="primary" (click)="onAddToCart(product)">Add to Cart</button>
        </mat-card-actions>
      </div>
    </mat-card-content>
  </mat-card>
</div>
