<header>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="icon" aria-label="Open menu button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <nav>
      <!-- Drop down menu for navigation application -->
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onHomeNav()" aria-label="Home navigation button">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item (click)="onShopNav()" aria-label="Shop navigation button">
          <mat-icon>storefront</mat-icon>
          <span>Shop Now</span>
        </button>
        <button mat-menu-item (click)="onCartNav()" aria-label="Checkout navigation button">
          <mat-icon>local_mall</mat-icon>
          <span>Checkout</span>
        </button>
      </mat-menu>
    </nav>
    <!-- Page header text is also a link to the home component -->
    <button mat-button (click)="onHomeNav()" aria-label="WYWM Store logo and home button">
      <h1>WYWM Store</h1>
    </button>
    <span class="header-spacer"></span>
    <!-- Small shopping cart icon with an overlaid badge displaying the current quantity, if any -->
    <button mat-icon-button (click)="onCartNav()" aria-label="Shop button with shop icon">
      <span class="cdk-visually-hidden"> Shop icon with overlaid badge showing the cart quantity </span>
      <mat-icon
        aria-hidden="false"
        [matBadge]="getTotalQuantity()"
        [matBadgeHidden]="getTotalQuantity() === 0"
        matBadgeColor="accent"
        >local_mall</mat-icon
      >
    </button>
  </mat-toolbar>
</header>

<main>
  <!-- The result of the routing navigation will be displayed here -->
  <router-outlet></router-outlet>
</main>
