<div class="mat-app-background">
  <mat-grid-list [cols]="cols" rowHeight="fit">
    <mat-grid-tile colspan="1" rowspan="1">
      <div class="mat-elevation-z4 welcome-card" [style.background]="'lightblue'">
        <h2>Welcome to Our Store!</h2>
        <p>Thank you for choosing us. Explore our amazing products and enjoy a seamless shopping experience.</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2">
      <div class="mat-elevation-z4 welcome-card" [style.background]="'#DDBDF1'">
        <p>
          Welcome to our online store! We're thrilled to have you here. Our passion is to provide a seamless shopping
          experience, and we believe you'll find something special among our carefully curated categories.
        </p>
        <p>
          Explore our diverse selection of high-quality products and take advantage of exclusive deals that await you.
          Whether you're looking for the latest fashion trends, innovative gadgets, or unique home decor, we have
          something for everyone.
        </p>
        <p>
          If you ever have questions or need assistance while navigating our store, our friendly and knowledgeable staff
          is ready to help. Your satisfaction is our priority, and we hope you enjoy your shopping journey with us.
        </p>
        <button mat-icon-button (click)="onShopNav()">
          <span>Shop Now</span>
        </button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <div class="mat-elevation-z4 welcome-card" [style.background]="'lightgreen'">
        <img src="assets/images/WYWM_Logo_Full-Mid-Green.svg" height="300px" width="300px" alt="WYWM Logo" />
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
