:host,
.mat-app-background,
mat-grid-list {
  height: 100%;
}
.welcome-card {
  font-size: large;
  padding: 16px;
  margin: 16px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p,
h2 {
  margin: 1rem;
}

button {
  min-width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
